# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# We set this to the non standard port 3308 instead of 3306 to speed up the process of getting started. Feel free to change.
DATABASE_URL="mysql://dxuser:secret@localhost:3308/dx-sveltekit-starter"

# If you would like to store files in the cloud, provide your cloud storage provider details below
# Currently ONLY AWS s3 is supported out of the box
CLOUD_STORAGE_PROVIDER="aws_s3"
LOCAL_STORAGE_FOLDER_PATH="uploads"

# You can choose to store files locally, or in the cloud, or both. 
# If you choose to store in the cloud, you are required to provide the cloud provider credentials
STORE_FILES_LOCALLY="true"
STORE_FILES_IN_CLOUD="false"

AWS_KEY=""
AWS_SECRET=""
AWS_PRIVATE_BUCKET_NAME=""
AWS_PUBLIC_BUCKET_NAME=""

SESSION_LENGTH_IN_MINS="20"

# These are the details needed to enable push notifications via Firebase
PUBLIC_ENABLE_WEB_PUSH="false"
PUBLIC_WEB_PUSH_CONTACT_EMAIL_ADDRESS=""
PUBLIC_VAPID_KEY=""
PRIVATE_VAPID_KEY=""
PUBLIC_FIREBASE_API_KEY=""
PUBLIC_FIREBASE_AUTH_DOMAIN=""
PUBLIC_FIREBASE_PROJECT_ID=""
PUBLIC_FIREBASE_STORAGE_BUCKET=""
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
PUBLIC_FIREBASE_APP_ID=""
PUBLIC_FIREBASE_MEASUREMENT_ID=""

# Basic SMTP server credentials to send emails via node-mailer
SMTP_HOST=""
SMTP_PORT=""
SMTP_EMAIL_ADDRESS=""
SMTP_EMAIL_PASSWORD=""

# Project references the application name in several places in the front end
PUBLIC_APP_NAME="divblox"
PUBLIC_APP_DISPLAY_NAME="Divblox"

# Used during node build https://kit.svelte.dev/docs/adapter-node#environment-variables-port-host-and-socket-path
ORIGIN=http://localhost:3000